
@{
    ViewData["Title"] = "Prueba";
}

<h1>Prueba</h1>

<ejs-grid id="Grid" dataSource="@ViewBag.DataSource" allowPaging="true" allowTextWrap="true" gridLines="Both" 
          actionComplete="actionComplete" 
          toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Cancel", "Update" })">
    <e-grid-editSettings allowAdding="true" allowDeleting="true" allowEditing="true" mode="Dialog"></e-grid-editSettings>
    <e-grid-columns>
        <e-grid-column field="tcr_id" headerText="ID" isPrimaryKey="true" isIdentity="true" width="20%"></e-grid-column>
        <e-grid-column field="tcr_nombre" headerText="NOMBRE" width="80%"></e-grid-column>
    </e-grid-columns>
</ejs-grid>

<script>

    // SET DIALOG WIDTH, HEIGHT AND HEADER.
    function actionComplete(args) {
        if ((args.requestType === 'beginEdit' || args.requestType === 'add')) {
            var dialog = args.dialog;
            dialog.height = '40%';
            dialog.width = '50%';

            // Change header of dialog.
            dialog.header = args.requestType === 'beginEdit' ? 'INFORMACIÓN DE ' + args.rowData['tcr_nombre'] : 'AGREGA NUEVO REGISTRO';
        }
    }

</script>

<style>

    /* Override Dialog height so it can be set manually.  */
    .e-dialog.e-edit-dialog {
        max-height: none !important;
    }

</style> 